#cloud-config
users:
- default
- name: "{{ admin_user }}"
  ssh_authorized_keys:
  - "{{ admin_user_ssh_pubkey }}"
  groups: ["wheel"]
  passwd: "{{ admin_user_password | password_hash('sha512') }}"
  lock_passwd: false
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']
{% if additional_users is defined %}
{% for user in additional_users %}
- name: "{{ user.name }}"
{% if user.ssh_pubkey is defined %}
  ssh_authorized_keys:
  - "{{ user.ssh_pubkey }}"
{% endif %}
  groups: ["{{ user.groups | default('wheel') }}"]
  passwd: "{{ user.password | password_hash('sha512') }}"
  lock_passwd: false
  shell: {{ user.shell | default('/bin/bash') }}
  sudo: ['{{ user.sudo | default("ALL=(ALL) NOPASSWD:ALL") }}']
{% endfor %}
{% endif %}

ssh_pwauth: true
chpasswd:
  expire: false

runcmd:
- echo "Cloud-Init completed successfully" > /var/log/cloud-init-success.log
- echo "Welcome to vPAC on RHEL" > /etc/motd
- sed -i 's/^#*PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
- systemctl restart sshd