---
# This task install grafana loki log aggregation system
- name: Create a user for running loki
  ansible.builtin.user:
    name: loki
    comment: "Service account for loki"
    shell: /sbin/nologin
    create_home: false
    state: present

- name: Get loki latest version
  ansible.builtin.shell: |
    export LOKI_VERSION=$(curl -s https://api.github.com/repos/grafana/loki/releases/latest | grep tag_name | cut -d '"' -f 4) \
    && wget https://github.com/grafana/loki/releases/download/${LOKI_VERSION}/loki-linux-amd64.zip \
    && unzip loki-linux-amd64.zip \
    && chmod +x loki-linux-amd64 \
    && mv loki-linux-amd64 /usr/local/bin/loki

- name: Make config and data directories
  ansible.builtin.file:
    path: "{{ dirs }}"
    state: directory
    owner: loki
    group: loki
    mode: '0755'
  vars:
    dirs:
    - /etc/loki
    - /var/lib/loki
    - /var/log/loki

- name: Downloading default config file
  ansible.builtin.shell: |
    export LOKI_VERSION=$(curl -s https://api.github.com/repos/grafana/loki/releases/latest | grep tag_name | cut -d '"' -f 4) \
    && wget https://raw.githubusercontent.com/grafana/loki/${LOKI_VERSION}/cmd/loki/loki-local-config.yaml -O /etc/loki/loki-config.yaml

- name: Create systemd unit file
  ansible.builtin.template:
    src: loki.service.j2
    dest: /etc/systemd/system/loki.service

- name: Systemd Daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Label the binary and data firs
  ansible.builtin.shell: |
    semanage fcontext -a -t bin_t "/usr/local/bin/loki" \
    && restorecon -v /usr/local/bin/loki \
    && semanage fcontext -a -t var_lib_t "/var/lib/loki(/.*)?" \
    && restorecon -Rv /var/lib/loki 

- name: Enable loki service
  ansible.builtin.systemd:
    name: loki.service
    state: started
    enabled: yes
...