---
# Playbook to create a cloud-init seed ISO for first-boot configuration
# of RHEL hosts provisioned with the vpac installer ISO
- name: Create cloud-init seed ISO
  hosts: all
  gather_facts: yes

  tasks:
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"

  - name: Create cloud-init seed ISO
    ansible.builtin.import_role:
      name: create_cloudinit_iso
    vars:
      hostname: vpac-host1
      admin_user: admin
      iso_name: vpac-host1-seed.iso
