---
# Example playbook for building customized RHEL ISO images for provisioning
# RHEL systems for deploying virtualized protection and control workloads
- name: Example playbook for building customized RHEL ISO images
  hosts: imagebuilder
  gather_facts: yes

  tasks:
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"

  - name: Create image installer
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_image_installer
    vars:
      retries: 100
      delay: 20

      skip_blueprint_creation: false

      # blueprint definition
      builder_blueprint_name: vpac-rhel9-base
      builder_blueprint_description: "Base RHEL 9.6 image for deploying grid platforms"
      builder_blueprint_distro: "rhel-9"
      builder_compose_pkgs:
      - ansible-core
      - wget
      - firewalld
      - rhel-system-roles
      - cockpit
      - cockpit-machines
      - cockpit-podman
      - cloud-init
      - cloud-utils-growpart
      - unzip
      - bzip2
      - zstd
      - mkisofs
      - qemu-kvm
      - libvirt
      - virt-install
      - virt-viewer
      - swtpm
      - swtpm-tools
      - dosfstools
      - edk2-ovmf #uefi firmware for windows 11 install
      - kernel-rt
      - kernel-rt-kvm
      - tuned-profiles-nfv-host
      - realtime-tests
      - dnf-plugins-core
      - python3-dnf-plugin-versionlock #versionlock 
      builder_compose_customizations:
        services:
          enabled: ["cockpit.socket", "firewalld"]
        firewall:
          services:
            enabled: ["http", "https", "ssh", "cockpit"]
            disabled: ["telnet"]
          ports: ["9090:tcp", "22:tcp"]

  - name: Create iso with custom kickstart
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_iso
    vars:
      builder_blueprint_name: "vpac-rhel9-base"

      # Kickstart customizations
      builder_kickstart_options:
      - lang en_US.UTF-8
      - keyboard us
      - timezone America/Los_Angeles --utc
      - text
      - liveimg --url file:///run/install/repo/liveimg.tar.gz
      - zerombr # Clear the MBR/GPT on all detected disks
      - bootloader --location=mbr
      - clearpart --all --initlabel # Clears all partitions on sda and initializes the disk label
      - part /boot --fstype=ext4 --size=4096 # Creates a /boot partition with ext4 filesystem, 4GB size to accomodate multiple kernels
      - part /boot/efi --fstype=efi --size=600
      - part pv.01 --size=1 --grow # Create a physical volume for LVM
      - # Setup LVM
      - volgroup vg_system pv.01
      - logvol / --vgname=vg_system --name=lv_root --fstype=xfs --size=150000
      - logvol /home --vgname=vg_system --name=lv_home --fstype=xfs --size=200000
      - logvol /vms --vgname=vg_system --name=lv_vms --fstype=xfs --size=500000
      - logvol swap --vgname=vg_system --name=lv_swap --recommended
      - network --bootproto=dhcp --activate #auto detect network
      - reboot --eject

      # cloudinit
      hostname: "vpac-rhel"
